run = ["bash", "-lc", "python3 -m http.server $PORT"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start server"

[[workflows.workflow]]
name = "Start server"
author = "nobu"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ["python3", "-m", "http.server", "$PORT"]
waitForPort = 5000
